<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.santiago.petagram">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:label="Petagram">
        <activity android:name="com.santiago.petagram.ActivityContacto"
            android:parentActivityName="com.santiago.petagram.MainActivity">

        </activity>
        <activity android:name="com.santiago.petagram.ActivityAcerca"
            android:parentActivityName="com.santiago.petagram.MainActivity">

        </activity>
        <activity
            android:name="com.santiago.petagram.MainActivity"

            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.santiago.petagram.DetalleMascota"
            android:parentActivityName="com.santiago.petagram.MainActivity" />
    </application>


</manifest>